<form action="/contacts/new" method="post">
  <div class="">
    <label for="firstname">First Name</label>
    <input id="firstname" name="firstname" type="text">
  </div>
  <div class="">
    <label for="lastname">Last Name</label>
    <input id="lastname" name="lastname" type="text">
  </div>
  <div class="">
    <label for="phone_number">Phone Number</label>
    <input id="phone_number" name="phone_number" type="number">
  </div>
  <div class="">
    <label for="job_title">Job Title</label>
    <input id="job_title" name="job_title" type="text">
  </div>
  <div class="">
    <label for="email">Email</label>
    <input id="email" name="email" type="email">
  </div>
  <div class="">
    <label for="company">Company Name</label>
    <input id="company" name="company" type="text">
  </div>
  <button type="submit">Add Contact</button>
</form>
